flask
sqlalchemy
openai
wtforms
flask_login
python_dotenv
bcrypt
flask_mail
werkzeug
itsdangerous
flask_wtf
flask_limiter
flask_caching
pytz
elasticsearch
logging
urllib3
requests
flask_admin
flask_migrate
transformers
torch
