<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadata and External Resources -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZX3J9GXNFF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-ZX3J9GXNFF');
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>The Quote Archive</title>
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/a659eb1da398d320af2fd8a20/d8b5f15e5b658c283b4038238.js");</script>

  <!-- Your code -->

</head>
<body>
    <!-- Navigation Container -->
    <div class="navbar-container">
        <!-- Hamburger Button (Visible in Mobile) -->
        <button class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </button>

        <!-- The Quote Archive Button (Visible in Mobile) -->
        <a href="{{ url_for('home') }}" class="quote-archive-button mobile-quote-archive-button">The Quote Archive</a>

        <!-- Login Button (Visible in Mobile) -->
        <a href="{{ url_for('account') }}" class="login-button mobile-login-button">
            {% if current_user.is_authenticated %}
                {{ current_user.username }}
            {% else %}
                Login
            {% endif %}
        </a>

        <!-- Navigation Bar (Desktop) -->
        <div class="navbar" id="desktop-navbar">
            <a href="{{ url_for('authors') }}">Authors</a>
            <a href="{{ url_for('collections.public_collections') }}">Public Collections</a>
            <a href="{{ url_for('topics') }}">Topics</a>
            <a href="{{ url_for('collections.my_collections') }}">
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}'s Collections
                {% else %}
                    My Collections
                {% endif %}
            </a>
            <!-- ... other regular navigation links for desktop ... -->
        </div>
    </div>

    <!-- Mobile Navigation Menu (Initially Hidden) -->
    <div id="mobile-nav" class="mobile-nav">
        <!-- Closing Button (X) -->

        <!-- Links for Mobile Menu -->
        <a href="{{ url_for('authors') }}">Authors</a>
        <a href="{{ url_for('collections.public_collections') }}">Public Collections</a>
        <a href="{{ url_for('topics') }}">Topics</a>
        <a href="{{ url_for('collections.my_collections') }}">
            {% if current_user.is_authenticated %}
                {{ current_user.username }}'s Collections
            {% else %}
                My Collections
            {% endif %}
        </a>
        <button class="close-btn" onclick="toggleMenu()">
            <i class="fas fa-times"></i>
        </button>
        <!-- ... other regular navigation links for mobile ... -->
    </div>



    <!-- Main Content Block -->
    {% block content %}{% endblock %}

<footer class="site-footer">
        <div class="container">
            <p>&copy; 2023 The Quote Archive. All rights reserved.</p>
            <a href="{{ url_for('contactus') }}">Contact Us</a>
            <a href="{{ url_for('privacypolicy') }}">Privacy Policy</a>
            <!-- Add additional footer content here -->
        </div>
    </footer>

    <!-- JavaScript for Toggling Menu -->
    <script>
        function toggleMenu() {
            var mobileNav = document.getElementById('mobile-nav');
            if (mobileNav) {
                mobileNav.classList.toggle('show');
            }
        }
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>