{% extends "base.html" %}

{% block content %}
<h1>Change Password</h1>

<!-- Password Change Form -->
<form method="post">
    <!-- Hidden Tag: Used to include CSRF token for form security -->
    {{ form.hidden_tag() }}

    <!-- Current Password Field -->
    <div>
        <!-- Label for Current Password -->
        {{ form.current_password.label }}
        <!-- Input for Current Password with added class for styling -->
        {{ form.current_password(class="form-control") }}
    </div>

    <!-- New Password Field -->
    <div>
        <!-- Label for New Password -->
        {{ form.new_password.label }}
        <!-- Input for New Password with added class for styling -->
        {{ form.new_password(class="form-control") }}
    </div>

    <!-- Confirm New Password Field -->
    <div>
        <!-- Label for Confirm New Password -->
        {{ form.confirm_new_password.label }}
        <!-- Input for Confirm New Password with added class for styling -->
        {{ form.confirm_new_password(class="form-control") }}
    </div>

    <!-- Submit Button -->
    <div>
        <input type="submit" value="Change Password" class="btn btn-primary">
    </div>
</form>
{% endblock %}
