{% extends "base.html" %}

{% block content %}

    <!-- Elasticsearch Search Bar Form -->
    <form action="{{ url_for('es_search') }}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search for authors and quotes...">
        <input type="submit" value="Search">
    </form>

    <!-- Displaying Birthdays Headings -->
    <h2>Birthdays on {{ current_date.strftime('%B %d') }}:</h2>

    <!-- Container for Displaying Quotes -->
    <div class="quotes-container">
        {% for data in quotes_data %}
            <div class="quote-card" style="display: flex; align-items: center;">

                <!-- Displaying Author Image -->
                {% if data['quote'].image_url %}
                    <img src="{{ url_for('static', filename='author_images/' + data['quote'].image_url) }}" alt="{{ data['quote'].author }}" class="author-image"/>
                {% endif %}

                <!-- Displaying Quote Content -->
                <div class="quote-content">
                    <p>{{ data['quote'].quote }}</p>
                    <p class="author-name"><a href="https://thinkexist.net/quotes/{{ data['quote'].author|replace(' ', '%20') }}">{{ data['quote'].author }}</a></p>
                </div>

                <!-- Quote Actions -->
                <div class="quote-actions">
                    <!-- Inside your quote-actions div -->
                    <button class="favorite-button" onclick="toggleFavorite({{ data['quote'].id }}, this)">Favorite</button>
                    <p class="error-message" style="display: none; color: red;"></p>


                    <!-- Share Button -->

                    <!-- Inside your quote-actions div -->
                    <!-- Inside your quote-actions div -->
                    <button class="share-button" onclick="showSharePopup('http://thinkexist.net/quote_detail/{{ data['quote'].id }}', this)">Share</button>

                    <div class="share-popup" style="display: none;">
                        <p>Share this quote:</p>
                        <input type="text" value="" readonly>
                        <button onclick="copyToClipboard(this)">Copy</button>
                        <button onclick="closeSharePopup(this)">Close</button>
                    </div>


                    <!-- Add to Collection Form -->
                    <form action="{{ url_for('collections.add_to_collection') }}" method="POST">
                        <select name="collection_id">
                            {% for collection in current_user.collections %}
                                <option value="{{ collection.id }}">{{ collection.name }}</option>
                            {% endfor %}
                            <option value="new">Create New Collection</option>
                        </select>
                        <input type="hidden" name="quote_id" value="{{ data['quote'].id }}">
                        <input type="submit" value="Add to Collection">
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Navigation Links for Dates -->
    <div class="date-navigation">
        <a href="{{ url_for('home', year=yesterday.year, month=yesterday.month, day=yesterday.day) }}">Yesterday ({{ yesterday.strftime('%B %d, %Y') }})</a>
        {% if not is_today %}
            <a href="{{ url_for('home') }}">Today</a>
        {% endif %}
        <a href="{{ url_for('home', year=tomorrow.year, month=tomorrow.month, day=tomorrow.day) }}">Tomorrow ({{ tomorrow.strftime('%B %d, %Y') }})</a>
    </div>

    <script>
        function toggleFavorite(quoteId, buttonElement) {
            fetch(`/toggle_favorite/${quoteId}`, { method: 'POST' })
            .then(response => {
                if (response.ok) {
            // Update UI to reflect favorite status change
                } else if (response.status === 401) { // 401 status code for Unauthorized
            // Find the next sibling element with the class 'error-message' and display the error
                    buttonElement.nextElementSibling.textContent = 'Must be logged in to favorite quotes';
                    buttonElement.nextElementSibling.style.display = 'block';
                } else {
                    buttonElement.nextElementSibling.textContent = 'Must be logged in to favorite quotes';
                    buttonElement.nextElementSibling.style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                buttonElement.nextElementSibling.textContent = 'An error occurred.';
                buttonElement.nextElementSibling.style.display = 'block';
            });
        }


        // Function to share quote
        function showSharePopup(shareUrl, buttonElement) {
            let popup = buttonElement.nextElementSibling;
            popup.style.display = 'block';
            let inputField = popup.querySelector('input');
            inputField.value = shareUrl;
            inputField.select();
        }

        function closeSharePopup(buttonElement) {
            let popup = buttonElement.parentElement;
            popup.style.display = 'none';
        }


        function copyToClipboard(buttonElement) {
            let inputField = buttonElement.parentElement.querySelector('input');
            inputField.select();
            document.execCommand('copy');
            alert('Link copied to clipboard!'); // Or use a more subtle notification
        }
    </script>

{% endblock %}
