{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block description %}Explore our vast collection of quotes from famous authors, and find the inspiration you need for the day.{% endblock %}

{% block content %}
<!-- Elasticsearch Search Bar Form -->
<form action="{{ url_for('es_search') }}" method="get" class="search-form">
    <input type="text" name="query" placeholder="Search for authors and quotes...">
    <input type="submit" value="Search">
</form>

<div class="layout-container">
    <div class="content">
        <!-- Quote of the Day -->
        <div class="quotes-container">
            <h2>Quote of the Day</h2>
            {% if quote_of_the_day %}
                <div class="quote-card" data-quote-id="{{ quote_of_the_day.id }}">
                    <div class="quote-flex-container">
                        {% if quote_of_the_day.image_url %}
                            <div class="author-image-container">
                                <img src="{{ url_for('static', filename='author_images/' + quote_of_the_day.image_url) }}" alt="{{ quote_of_the_day.author }}" class="author-image"/>
                            </div>
                        {% else %}
                            <div class="author-image-container">
                                <div class="author-image-placeholder"></div>
                            </div>
                        {% endif %}
                        <div class="quote-content-actions">
                            <div class="quote-content">
                                <p>{{ quote_of_the_day.quote }}</p>
                            </div>
                            <div class="quote-details">
                                <div class="quote-actions">
                                    <button class="favorite-button" onclick="toggleFavorite({{ quote_of_the_day.id }}, this)">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                    <p class="error-message" style="display: none; color: red;"></p>
                                    <button class="share-button" onclick="toggleSharePopup(this)" data-share-url="https://thequotearchive.com/quote_detail/{{ quote_of_the_day.id }}">
                                        <i class="fa-solid fa-share"></i>
                                    </button>
                                    <div class="share-popup" style="display: none;">
                                        <p>Share this quote:</p>
                                        <input type="text" value="https://thequotearchive.com/quote_detail/{{ quote_of_the_day.id }}" readonly>
                                        <button onclick="copyToClipboard(event, this.previousElementSibling)" type="button">Copy</button>
                                    </div>
                                    <div class="add-to-collection-dropdown">
                                        <div class="flex-container">
                                            <button type="button" class="plus-button" data-quote-id="{{ quote_of_the_day.id }}" onclick="toggleCollectionDropdown(this)">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                            <div class="dropdown-content" style="display: none;">
                                                {% for collection in current_user.collections %}
                                                    <button data-collection-id="{{ collection.id }}" onclick="addToCollection('{{ collection.id }}', '{{ quote_of_the_day.id }}', this.parentElement.previousElementSibling)">
                                                        {{ collection.name }}
                                                    </button>
                                                {% endfor %}
                                                <button class="create-new-collection-btn" data-quote-id="{{ quote_of_the_day.id }}">Create New Collection</button>
                                            </div>
                                            <span class="message-placeholder" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div id="createCollectionModal-{{ quote_of_the_day.id }}" class="modal">
                                      <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h2>Create New Collection</h2>
                                        <form action="{{ url_for('collections.create_collection') }}" method="post">
                                            {{ form.hidden_tag() }}
                                            <div class="form-group">
                                                {{ form.name.label }}
                                                {{ form.name(class_='form-control') }}
                                                {% if form.name.errors %}
                                                    <div class="alert alert-danger">{{ form.name.errors[0] }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.description.label }}
                                                {{ form.description(class_='form-control') }}
                                                {% if form.description.errors %}
                                                    <div class="alert alert-danger">{{ form.description.errors[0] }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.submit(class_='btn btn-primary') }}
                                            </div>
                                        </form>
                                      </div>
                                    </div>
                                </div>
                                <p class="author-name">
                                    <a href="https://thequotearchive.com/quotes/{{ quote_of_the_day.author|replace(' ', '%20') }}">
                                        {{ quote_of_the_day.author }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- Displaying Birthdays Headings -->
        <h2>Birthdays on {{ current_date.strftime('%B %d') }}</h2>

        <!-- Container for Displaying Quotes -->
        <div class="quotes-container">
            {% for data in quotes_data %}
                <div class="quote-card" data-quote-id="{{ data.quote.id }}">
                    <div class="quote-flex-container {{ 'no-image' if not data['quote'].image_url else '' }}">
                        {% if data['quote'].image_url %}
                            <div class="author-image-container">
                                <img src="{{ url_for('static', filename='author_images/' + data['quote'].image_url) }}" alt="{{ data['quote'].author }}" class="author-image"/>
                            </div>
                        {% endif %}
                        <div class="quote-content-actions">
                            <div class="quote-content">
                                <p>{{ data['quote'].quote }}</p>
                            </div>
                            <div class="quote-details">
                                <div class="quote-actions">
                                    <button class="favorite-button" onclick="toggleFavorite({{ data['quote'].id }}, this)">
                                        <i class="fa-regular fa-heart"></i>
                                    </button>
                                    <p class="error-message" style="display: none; color: red;"></p>
                                    <button class="share-button" onclick="toggleSharePopup(this)" data-share-url="https://thequotearchive.com/quote_detail/{{ data['quote'].id }}">
                                        <i class="fa-solid fa-share"></i>
                                    </button>
                                    <div class="share-popup" style="display: none;">
                                        <p>Share this quote:</p>
                                        <input type="text" value="https://thequotearchive.com/quote_detail/{{ data['quote'].id }}" readonly>
                                        <button onclick="copyToClipboard(event, this.previousElementSibling)" type="button">Copy</button>
                                    </div>
                                    <div class="add-to-collection-dropdown">
                                        <div class="flex-container">
                                            <button type="button" class="plus-button" data-quote-id="{{ data.quote.id }}" onclick="toggleCollectionDropdown(this)">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                            <div class="dropdown-content" style="display: none;">
                                                {% for collection in current_user.collections %}
                                                    <button data-collection-id="{{ collection.id }}" onclick="addToCollection('{{ collection.id }}', '{{ data.quote.id }}', this.parentElement.previousElementSibling)">
                                                        {{ collection.name }}
                                                    </button>
                                                {% endfor %}
                                                <button class="create-new-collection-btn" data-quote-id="{{ data.quote.id }}">Create New Collection</button>
                                            </div>
                                            <span class="message-placeholder" style="display: none;"></span>
                                        </div>
                                    </div>
                                    <div id="createCollectionModal-{{ data.quote.id }}" class="modal">
                                      <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <h2>Create New Collection</h2>
                                        <form action="{{ url_for('collections.create_collection') }}" method="post">
                                            {{ form.hidden_tag() }}
                                            <div class="form-group">
                                                {{ form.name.label }}
                                                {{ form.name(class_='form-control') }}
                                                {% if form.name.errors %}
                                                    <div class="alert alert-danger">{{ form.name.errors[0] }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.description.label }}
                                                {{ form.description(class_='form-control') }}
                                                {% if form.description.errors %}
                                                    <div class="alert alert-danger">{{ form.description.errors[0] }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group">
                                                {{ form.submit(class_='btn btn-primary') }}
                                            </div>
                                        </form>
                                      </div>
                                    </div>
                                </div>
                                <p class="author-name">
                                    <a href="https://thequotearchive.com/quotes/{{ data['quote'].author|replace(' ', '%20') }}">
                                        {{ data['quote'].author }}
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Navigation Links for Dates -->
        <div class="date-navigation">
            <a href="{{ url_for('home', year=yesterday.year, month=yesterday.month, day=yesterday.day) }}">Yesterday ({{ yesterday.strftime('%B %d, %Y') }})</a>
            {% if not is_today %}
                <a href="{{ url_for('home') }}">Today</a>
            {% endif %}
            <a href="{{ url_for('home', year=tomorrow.year, month=tomorrow.month, day=tomorrow.day) }}">Tomorrow ({{ tomorrow.strftime('%B %d, %Y') }})</a>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <div class="visual-line"></div>
        <div class="sidebar-right">
            <div class="explore-topics">
                <h3>Explore Topics</h3>
                <ul>
                    {% for topic in footer_topics %}
                        <li><a href="{{ url_for('es_search', query=topic) }}">{{ topic }}</a></li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('topics') }}" class="explore-more-link">Explore More Topics</a>
            </div>
            <div class="explore-topics">
                <h3>Explore Authors</h3>
                <ul>
                    <li><a href="{{ url_for('author_quotes', author='William Shakespeare') }}">William Shakespeare</a></li>
                    <li><a href="{{ url_for('author_quotes', author='Virginia Woolf') }}">Virginia Woolf</a></li>
                    <li><a href="{{ url_for('author_quotes', author='James Baldwin') }}">James Baldwin</a></li>
                    <li><a href="{{ url_for('author_quotes', author='Maya Angelou') }}">Maya Angelou</a></li>
                    <li><a href="{{ url_for('author_quotes', author='Haruki Murakami') }}">Haruki Murakami</a></li>
                </ul>
                <a href="{{ url_for('authors') }}" class="explore-more-link">Explore More Authors</a>
            </div>
            <div class="create-account-section">
                <h3>Create an Account</h3>
                <p>Create an account to enjoy exclusive features:</p>
                <ul>
                    <li>Create collections of your favorite quotes</li>
                    <li>Favorite authors to follow their latest quotes</li>
                    <li>Submit quotes to share with the community</li>
                </ul>
                <a href="{{ url_for('register') }}" class="explore-more-link">Register here</a>
            </div>
        </div>
    </div>
</div>

<script>
    // Wait for the DOM to be fully loaded
    document.addEventListener('DOMContentLoaded', function() {
        var quotes = document.querySelectorAll('.quote-content');
        quotes.forEach(function(quote) {
            quote.addEventListener('click', function() {
                this.classList.toggle('expanded');
            });
        });

        // Bind click events to all "Create New Collection" buttons
        document.querySelectorAll('.create-new-collection-btn').forEach(function(btn) {
            btn.addEventListener('click', function() {
                var quoteId = this.getAttribute('data-quote-id');
                var modalId = 'createCollectionModal-' + quoteId;
                var modal = document.getElementById(modalId);
                if (modal) {
                    modal.style.display = "block";
                }
            });
        });

        // Close modal functionality
        document.querySelectorAll('.close').forEach(function(span) {
            span.addEventListener('click', function() {
                this.closest('.modal').style.display = "none";
            });
        });

        // Clicking outside to close modals
        window.addEventListener('click', function(event) {
            document.querySelectorAll('.modal').forEach(function(modal) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        });

        // Close all dropdowns and popups on outside click
        document.addEventListener('click', function(event) {
            if (!event.target.closest('.add-to-collection-dropdown') && !event.target.closest('.share-popup') && !event.target.closest('.share-button')) {
                closeAllDropdownsAndPopups();
            }
        });

        // Keep dropdowns and popups open on inside click
        document.querySelectorAll('.add-to-collection-dropdown, .share-popup').forEach(function(element) {
            element.addEventListener('click', function(event) {
                event.stopPropagation();
            });
        });
    });

    function closeAllDropdownsAndPopups() {
        closeAllSharePopups();
        closeAllCollectionDropdowns();
    }

    function closeAllSharePopups() {
        document.querySelectorAll('.share-popup').forEach(function(popup) {
            popup.style.display = 'none';
        });
    }

    function closeAllCollectionDropdowns() {
        document.querySelectorAll('.dropdown-content').forEach(function(dropdown) {
            dropdown.style.display = 'none';
        });
    }

    function toggleFavorite(quoteId, buttonElement) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch(`/add_to_favorites/${quoteId}`, {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrfToken
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (response.ok && response.headers.get("Content-Type").includes("application/json")) {
                return response.json();
            } else if (response.status === 401 || !response.headers.get("Content-Type").includes("application/json")) {
                throw new Error('You must be logged in to favorite');
            }
        })
        .then(data => {
            buttonElement.classList.add('favorite-active');
            buttonElement.querySelector('i').classList.replace('fa-regular', 'fa-solid');
        })
        .catch(error => {
            const errorMessageElement = buttonElement.nextElementSibling;
            if (errorMessageElement) {
                errorMessageElement.textContent = error.message;
                errorMessageElement.style.display = 'block';
            }
        });
    }

    function copyToClipboard(event, inputElement) {
        event.preventDefault();
        navigator.clipboard.writeText(inputElement.value).then(() => {
            alert('Link copied to clipboard');
        }).catch(err => {
            console.error('Could not copy text:', err);
        });
    }

    function toggleCollectionDropdown(element) {
        closeAllSharePopups();
        var dropdownContent = element.nextElementSibling;
        dropdownContent.style.display = dropdownContent.style.display === "none" ? "block" : "none";
    }

    function toggleSharePopup(buttonElement) {
        closeAllCollectionDropdowns();
        let quoteActions = buttonElement.closest('.quote-actions');
        let popup = buttonElement.nextElementSibling;
        popup.style.display = popup.style.display === 'block' ? 'none' : 'block';

        if (popup.style.display === 'block') {
            let inputField = popup.querySelector('input');
            inputField.value = buttonElement.getAttribute('data-share-url');
            inputField.select();

            let quoteActionsStyle = window.getComputedStyle(quoteActions);
            let quoteActionsHeight = quoteActions.offsetHeight + parseInt(quoteActionsStyle.marginTop) + parseInt(quoteActionsStyle.marginBottom);
            popup.style.top = quoteActionsHeight + 'px';
        }
    }

    var csrf_token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    function addToCollection(collectionId, quoteId, plusButton) {
        const data = {
            collection_id: collectionId,
            quote_id: quoteId,
        };

        fetch('/add_to_collection', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrf_token
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                plusButton.classList.add('add-success');
                const dropdownContent = plusButton.nextElementSibling;
                const collectionButtons = dropdownContent.querySelectorAll(`button[data-collection-id='${collectionId}']`);
                collectionButtons.forEach(btn => {
                    btn.classList.add('bold-collection');
                });
            } else {
                console.error('Failed to add the quote to the collection.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function toggleCreateCollectionForm() {
        var form = document.getElementById('create-collection-form');
        if (form.style.display === "none" || !form.style.display) {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>



{% endblock %}
