{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>My Collections</h2>

    {% for collection in user_collections %}
    <div class="quote-container">
        {% if collection.image_url %}
            <img src="{{ url_for('static', filename='author_images/' + data['quote'].image_url) }}" alt="{{ data['quote'].author }}" class="author-image responsive-image"/>
        {% endif %}
        <h3 class="collection-name">{{ collection.name }}</h3>
        <p class="collection-description">Description: {{ collection.description }}</p>
        <p>Public: {% if collection.public %}Yes{% else %}No{% endif %}</p>

        <!-- Collection actions -->
        <div class="collection-actions">
            <a href="{{ url_for('collections.view_collection', collection_id=collection.id) }}" class="btn">View Collection</a>
            <!-- Remaining form and actions -->
        </div>
    </div>
    {% endfor %}
</div>

<script>
    const publicCheckboxes = document.querySelectorAll('.publicCheckbox');
    publicCheckboxes.forEach(checkbox => {
        const isPublic = checkbox.getAttribute('data-public') === 'true';
        if (isPublic) {
            checkbox.checked = true;
        }
    });
</script>

{% endblock %}
