{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Public Collections</h2>

    {% for collection in collections %}
    <div class="quote-container">
        <h3 class="collection-name">{{ collection.name }}</h3>
        <p class="collection-description">Description: {{ collection.description }}</p>

        <div class="collection-actions">
            <a href="{{ url_for('collections.view_collection', collection_id=collection.id) }}" class="btn">View Collection</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
