<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Register</h1>

    <!-- Display flashed messages for registration errors -->
    {% with reg_messages = get_flashed_messages(category_filter=['danger']) %}
        {% if reg_messages %}
            <div class="alert alert-danger">
                {% for message in reg_messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div class="register-page">
        <form method="post" action="{{ url_for('register') }}" id="registration-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.confirm.label(class="form-label") }}
                {{ form.confirm(class="form-control") }}
            </div>
            <button class="g-recaptcha"
                    data-sitekey="6LfP5YMpAAAAABUq8vNmr7u4oiZWuQWl3YYLbakQ"
                    data-callback='onSubmit'
                    data-action='submit'>
              Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  function onSubmit(token) {
    document.getElementById("registration-form").submit(); // Make sure the ID 'registration-form' is unique
  }
</script>

{% endblock %}
</html>
