<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% extends "base.html" %}

{% block content %}
    <h1>Popular Topics</h1>
    <div class="topics-container">
        <div class="left-column">
            {% for topic in topics[:half_length] %}
                <div class="topic-card">
                    <!-- Update the link to use the new Elasticsearch-based search -->
                    <a href="{{ url_for('es_search', query=topic) }}">{{ topic }}</a>
                </div>
            {% endfor %}
        </div>

        <div class="right-column">
            {% for topic in topics[half_length:] %}
                <div class="topic-card">
                    <a href="{{ url_for('es_search', query=topic) }}">{{ topic }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}




</body>
</html>
