<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% extends "base.html" %}

{% block content %}
    <h1>Popular Topics</h1>
    <div class="topics-container">
        {% for topic in topics %}
            <div class="topic-card">
                <a href="{{ url_for('es_search', query=topic) }}">{{ topic }}</a>
                {% if topic == "Love" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Romance') }}">Romance</a></li>
                        <li><a href="{{ url_for('es_search', query='Heartbreak') }}">Heartbreak</a></li>
                        <li><a href="{{ url_for('es_search', query='Affection') }}">Affection</a></li>
                    </ul>
                {% elif topic == "Inspiration" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Creativity') }}">Creativity</a></li>
                        <li><a href="{{ url_for('es_search', query='Innovation') }}">Innovation</a></li>
                        <li><a href="{{ url_for('es_search', query='Motivation') }}">Motivation</a></li>
                    </ul>
                {% elif topic == "Success" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Achievement') }}">Achievement</a></li>
                        <li><a href="{{ url_for('es_search', query='Goals') }}">Goals</a></li>
                        <li><a href="{{ url_for('es_search', query='Ambition') }}">Ambition</a></li>
                    </ul>
                {% elif topic == "Happiness" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Joy') }}">Joy</a></li>
                        <li><a href="{{ url_for('es_search', query='Contentment') }}">Contentment</a></li>
                        <li><a href="{{ url_for('es_search', query='Pleasure') }}">Pleasure</a></li>
                    </ul>
                {% elif topic == "Friendship" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Companionship') }}">Companionship</a></li>
                        <li><a href="{{ url_for('es_search', query='Loyalty') }}">Loyalty</a></li>
                        <li><a href="{{ url_for('es_search', query='Trust') }}">Trust</a></li>
                    </ul>
                {% elif topic == "Motivational" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Drive') }}">Drive</a></li>
                        <li><a href="{{ url_for('es_search', query='Determination') }}">Determination</a></li>
                        <li><a href="{{ url_for('es_search', query='Perseverance') }}">Perseverance</a></li>
                    </ul>
                {% elif topic == "Positive" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Optimism') }}">Optimism</a></li>
                        <li><a href="{{ url_for('es_search', query='Hopefulness') }}">Hopefulness</a></li>
                        <li><a href="{{ url_for('es_search', query='Encouragement') }}">Encouragement</a></li>
                    </ul>
                {% elif topic == "Life" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Existence') }}">Existence</a></li>
                        <li><a href="{{ url_for('es_search', query='Experience') }}">Experience</a></li>
                        <li><a href="{{ url_for('es_search', query='Journey') }}">Journey</a></li>
                    </ul>
                {% elif topic == "Funny" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Humor') }}">Humor</a></li>
                        <li><a href="{{ url_for('es_search', query='Wit') }}">Wit</a></li>
                        <li><a href="{{ url_for('es_search', query='Sarcasm') }}">Sarcasm</a></li>
                    </ul>
                {% elif topic == "Beauty" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Aesthetics') }}">Aesthetics</a></li>
                        <li><a href="{{ url_for('es_search', query='Elegance') }}">Eance</a></li>
                        <li><a href="{{ url_for('es_search', query='Grace') }}">Grace</a></li>
                    </ul>
                {% elif topic == "Hope" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Aspiration') }}">Aspiration</a></li>
                        <li><a href="{{ url_for('es_search', query='Faith') }}">Faith</a></li>
                        <li><a href="{{ url_for('es_search', query='Optimism') }}">Optimism</a></li>
                    </ul>
                {% elif topic == "God" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Faith') }}">Faith</a></li>
                        <li><a href="{{ url_for('es_search', query='Spirituality') }}">Spirituality</a></li>
                        <li><a href="{{ url_for('es_search', query='Divinity') }}">Divinity</a></li>
                    </ul>
                {% elif topic == "Nature" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Wildlife') }}">Wildlife</a></li>
                        <li><a href="{{ url_for('es_search', query='Landscape') }}">Landscape</a></li>
                        <li><a href="{{ url_for('es_search', query='Conservation') }}">Conservation</a></li>
                    </ul>
                {% elif topic == "Growth" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Personal Development') }}">Personal Development</a></li>
                        <li><a href="{{ url_for('es_search', query='Progress') }}">Progress</a></li>
                        <li><a href="{{ url_for('es_search', query='Learning') }}">Learning</a></li>
                    </ul>
                {% elif topic == "Challenges" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Adversity') }}">Adversity</a></li>
                        <li><a href="{{ url_for('es_search', query='Resilience') }}">Resilience</a></li>
                        <li><a href="{{ url_for('es_search', query='Overcoming') }}">Overcoming</a></li>
                    </ul>
                {% elif topic == "Family" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Relationships') }}">Relationships</a></li>
                        <li><a href="{{ url_for('es_search', query='Parenthood') }}">Parenthood</a></li>
                        <li><a href="{{ url_for('es_search', query='Heritage') }}">Heritage</a></li>
                    </ul>
                {% elif topic == "Wisdom" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Knowledge') }}">Knowledge</a></li>
                        <li><a href="{{ url_for('es_search', query='Insight') }}">Insight</a></li>
                        <li><a href="{{ url_for('es_search', query='Sage Advice') }}">Sage Advice</a></li>
                    </ul>
                {% elif topic == "Courage" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Bravery') }}">Bravery</a></li>
                        <li><a href="{{ url_for('es_search', query='Fearlessness') }}">Fearlessness</a></li>
                        <li><a href="{{ url_for('es_search', query='Fortitude') }}">Fortitude</a></li>
                    </ul>
                {% elif topic == "Dreams" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Aspirations') }}">Aspirations</a></li>
                        <li><a href="{{ url_for('es_search', query='Goals') }}">Goals</a></li>
                        <li><a href="{{ url_for('es_search', query='Visions') }}">Visions</a></li>
                    </ul>
                {% elif topic == "Change" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Transformation') }}">Transformation</a></li>
                        <li><a href="{{ url_for('es_search', query='Evolution') }}">Evolution</a></li>
                        <li><a href="{{ url_for('es_search', query='Renewal') }}">Renewal</a></li>
                    </ul>
                {% elif topic == "Leadership" %}
                    <ul>
                        <li><a href="{{ url_for('es_search', query='Influence') }}">Influence</a></li>
                        <li><a href="{{ url_for('es_search', query='Guidance') }}">Guidance</a></li>
                        <li><a href="{{ url_for('es_search', query='Empowerment') }}">Empowerment</a></li>
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

</body>
</html>
