{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>{{ collection.name }}</h2>
    <p>{{ collection.description }}</p>

    <div class="quotes-container">
        {% for quote in collection.quotes %}
        <div class="quote-card" data-quote-id="{{ quote.id }}">
            <!-- Flex Container for each Quote -->
            <div class="quote-flex-container {% if not quote.image_url %}no-image{% endif %}">

                <!-- Conditional Displaying Author Image -->
                {% if quote.image_url %}
                <div class="author-image-container">
                    <img src="{{ url_for('static', filename='author_images/' + quote.image_url) }}" alt="{{ quote.author }}" class="author-image"/>
                </div>
                {% else %}
                <div class="author-image-container">
                    <!-- Placeholder div in case there's no image -->
                    <div class="author-image-placeholder"></div>
                </div>
                {% endif %}

                <!-- Container for Quote Content, Actions, and Author Name -->
                <div class="quote-content-actions">

                    <!-- Displaying Quote Content -->
                    <div class="quote-content">
                        <p>{{ quote.quote }}</p>
                    </div>

                    <!-- Container for Quote Actions and Author Name -->
                    <div class="quote-details">
                        <!-- Quote Actions -->
                        <div class="quote-actions">
                            <!-- Favorite Button -->
                            <button class="favorite-button" onclick="toggleFavorite({{ quote.id }}, this)">
                                <i class="fa-regular fa-heart"></i>
                            </button>
                            <p class="error-message" style="display: none; color: red;"></p>

                            <!-- Share Button -->
                            <button class="share-button" onclick="toggleSharePopup(this)" data-share-url="https://thequotearchive.com/quote_detail/{{ quote.id }}">
                                <i class="fa-solid fa-share"></i>
                            </button>

                            <!-- Share Popup -->
                            <div class="share-popup" style="display: none;">
                                <p>Share this quote:</p>
                                <input type="text" value="https://thequotearchive.com/quote_detail/{{ quote.id }}" readonly>
                                <button onclick="copyToClipboard(event, this.previousElementSibling)" type="button">Copy</button>
                            </div>

                            <div class="add-to-collection-dropdown">
                                <div class="flex-container">
                                    <button type="button" class="plus-button" data-quote-id="{{ quote.id }}" onclick="toggleCollectionDropdown(this)">
                                        <i class="fa-solid fa-plus"></i> <!-- Plus icon -->
                                    </button>
                                    <div class="dropdown-content" style="display: none;">
                                        {% for collection in current_user.collections %}
                                            <button data-collection-id="{{ collection.id }}" onclick="addToCollection('{{ collection.id }}', '{{ quote.id }}', this.parentElement.previousElementSibling)">
                                                {{ collection.name }}
                                            </button>
                                        {% endfor %}
                                        <button class="create-new-collection-btn" data-quote-id="{{ quote.id }}">Create New Collection</button>
                                    </div>
                                    <span class="message-placeholder" style="display: none;"></span>
                                </div>
                            </div>

                            <!-- Hidden Form for Creating New Collection -->
                            <div id="create-collection-form" style="display: none;">
                                <h2>Create New Collection</h2>
                                <form action="{{ url_for('collections.create_collection') }}" method="post">
                                    <div class="form-group">
                                        <label for="new-collection-name">Collection Name:</label>
                                        <input type="text" id="new-collection-name" name="name" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="new-collection-description">Description:</label>
                                        <textarea id="new-collection-description" name="description"></textarea>
                                    </div>
                                    <input type="submit" value="Create">
                                </form>
                            </div>

                            <!-- The Modal -->
                            <div id="createCollectionModal-{{ quote.id }}" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <h2>Create New Collection</h2>
                                    <form action="{{ url_for('collections.create_collection') }}" method="post">
                                        {{ form.hidden_tag() }}
                                        <div class="form-group">
                                            {{ form.name.label }}
                                            {{ form.name(class_='form-control') }}
                                            {% if form.name.errors %}
                                                <div class="alert alert-danger">{{ form.name.errors[0] }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form.description.label }}
                                            {{ form.description(class_='form-control') }}
                                            {% if form.description.errors %}
                                                <div class="alert alert-danger">{{ form.description.errors[0] }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form.submit(class_='btn btn-primary') }}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- Author Name -->
                        <p class="author-name">
                            <a href="{{ url_for('author_quotes', author=quote.author) }}">
                                {{ quote.author }}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    // Wait for the DOM to be fully loaded
    document.addEventListener('DOMContentLoaded', function() {
        var quotes = document.querySelectorAll('.quote-content');
        quotes.forEach(function(quote) {
            quote.addEventListener('click', function() {
                this.classList.toggle('expanded');
            });
        });

        // Bind click events to all "Create New Collection" buttons
        document.querySelectorAll('.create-new-collection-btn').forEach(function(btn) {
            btn.addEventListener('click', function() {
                var quoteId = this.getAttribute('data-quote-id');
                var modalId = 'createCollectionModal-' + quoteId;
                var modal = document.getElementById(modalId);
                if (modal) {
                    modal.style.display = "block";
                }
            });
        });

        // Close modal functionality
        document.querySelectorAll('.close').forEach(function(span) {
            span.addEventListener('click', function() {
                this.closest('.modal').style.display = "none";
            });
        });

        // Clicking outside to close modals
        window.addEventListener('click', function(event) {
            document.querySelectorAll('.modal').forEach(function(modal) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        });

        // Close all dropdowns and popups on outside click
        document.addEventListener('click', function(event) {
            if (!event.target.closest('.add-to-collection-dropdown') && !event.target.closest('.share-popup') && !event.target.closest('.share-button')) {
                closeAllDropdownsAndPopups();
            }
        });

        // Keep dropdowns and popups open on inside click
        document.querySelectorAll('.add-to-collection-dropdown, .share-popup').forEach(function(element) {
            element.addEventListener('click', function(event) {
                event.stopPropagation();
            });
        });
    });

    function closeAllDropdownsAndPopups() {
        closeAllSharePopups();
        closeAllCollectionDropdowns();
    }

    function closeAllSharePopups() {
        document.querySelectorAll('.share-popup').forEach(function(popup) {
            popup.style.display = 'none';
        });
    }

    function closeAllCollectionDropdowns() {
        document.querySelectorAll('.dropdown-content').forEach(function(dropdown) {
            dropdown.style.display = 'none';
        });
    }

    function toggleFavorite(quoteId, buttonElement) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        fetch(`/add_to_favorites/${quoteId}`, {
            method: 'POST',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrfToken
            },
            body: JSON.stringify({})
        })
        .then(response => {
            if (response.ok && response.headers.get("Content-Type").includes("application/json")) {
                return response.json();
            } else if (response.status === 401 || !response.headers.get("Content-Type").includes("application/json")) {
                throw new Error('You must be logged in to favorite');
            }
        })
        .then(data => {
            buttonElement.classList.add('favorite-active');
            buttonElement.querySelector('i').classList.replace('fa-regular', 'fa-solid');
        })
        .catch(error => {
            const errorMessageElement = buttonElement.nextElementSibling;
            if (errorMessageElement) {
                errorMessageElement.textContent = error.message;
                errorMessageElement.style.display = 'block';
            }
        });
    }

    function copyToClipboard(event, inputElement) {
        event.preventDefault();
        navigator.clipboard.writeText(inputElement.value).then(() => {
            alert('Link copied to clipboard');
        }).catch(err => {
            console.error('Could not copy text:', err);
        });
    }

    function toggleCollectionDropdown(element) {
        closeAllSharePopups();
        var dropdownContent = element.nextElementSibling;
        dropdownContent.style.display = dropdownContent.style.display === "none" ? "block" : "none";
    }

    function toggleSharePopup(buttonElement) {
        closeAllCollectionDropdowns();
        let quoteActions = buttonElement.closest('.quote-actions');
        let popup = buttonElement.nextElementSibling;
        popup.style.display = popup.style.display === 'block' ? 'none' : 'block';

        if (popup.style.display === 'block') {
            let inputField = popup.querySelector('input');
            inputField.value = buttonElement.getAttribute('data-share-url');
            inputField.select();

            let quoteActionsStyle = window.getComputedStyle(quoteActions);
            let quoteActionsHeight = quoteActions.offsetHeight + parseInt(quoteActionsStyle.marginTop) + parseInt(quoteActionsStyle.marginBottom);
            popup.style.top = quoteActionsHeight + 'px';
        }
    }

    function toggleCollectionList(buttonElement) {
        let list = buttonElement.nextElementSibling;
        list.style.display = list.style.display === "block" ? "none" : "block";
    }

    var csrf_token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    function addToCollection(collectionId, quoteId, plusButton) {
        const data = {
            collection_id: collectionId,
            quote_id: quoteId,
        };

        fetch('/add_to_collection', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrf_token
            },
            body: JSON.stringify(data),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                plusButton.classList.add('add-success');
                const dropdownContent = plusButton.nextElementSibling;
                const collectionButtons = dropdownContent.querySelectorAll(`button[data-collection-id='${collectionId}']`);
                collectionButtons.forEach(btn => {
                    btn.classList.add('bold-collection');
                });
            } else {
                console.error('Failed to add the quote to the collection.');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    function toggleCreateCollectionForm() {
        var form = document.getElementById('create-collection-form');
        if (form.style.display === "none" || !form.style.display) {
            form.style.display = "block";
        } else {
            form.style.display = "none";
        }
    }
</script>
{% endblock %}
